---
title: Contact
link: contact
---

{% include header %}

<section class="center">
    <article class="card w6 foreground slidein1">
        <div class="p3 wrapper-vertical margin-below">
            <p>Inquire about collaborating on a project, or just say hello!</p>

            <section class="w10">
                <div class="p1 wrapper-horizontal">
                    <a href="https://twitter.com/meowsom3" target="_blank" class="button ripple-button-light p1 slidein2" style="background:linear-gradient(rgba(29,161,242,0.65), rgba(29,161,242,0.9)) center;background-size:cover;">
                        <i class="fa-brands fa-twitter"></i>&nbsp;Twitter
                    </a>
                    &nbsp;
                    <a href="https://bsky.app/profile/meowso.me" target="_blank" class="button ripple-button-light slidein3" style="background:linear-gradient(rgba(18,128,255,0.65), rgba(81,177,254,0.9)) center;background-size:cover;">
                        <i class="fa-brands fa-bluesky"></i>&nbsp;Bluesky
                    </a>
                    &nbsp;
                    <a href="https://instagram.com/meowsom3" target="_blank" class="button ripple-button-light slidein4" style="background:linear-gradient(rgba(229,105,105,0.65), rgba(138,73,161,0.9)) center;background-size:cover;">
                        <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
                    </a>
                </div>
            </section>

            <form name="contact" method="POST" class="margin-below ignore-mobile-wrapper-fixing" netlify>
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>

                    <label for="message">Message</label>
                    <textarea rows="4" name="message" id="message" required></textarea>
                </div>
                        
                <div class="right">
                    <button type="submit" class="accent ripple-button-light">SEND <i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </article>
</section>

{% include footer %}