            <footer class="wrapper-horizontal">
                <div class="w5 wrapper-vertical">
                    <p>Content &copy; {{ year }} Meowsome Studio.</p>
                    <p>Leaf creature art by <a href="https://www.furaffinity.net/user/ohmuu/" target="_blank">Ohmuu</a> (Not affiliated with The Pokémon Company)</p>
                    {% if index %}<p>Kitty art by <a href="https://stardustfox.com/" target="_blank">StardustFox Art</a></p>{% endif %}
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="/assets/script.js"></script>
    <script src="https://instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</body>

</html>