            <footer class="wrapper-horizontal">
                <div class="w5 wrapper-vertical">
                    <p>Content &copy; {{ year }} Meowsome Studio. Not affiliated with The Pokémon Company.</p>
                    <p>Leafeon &copy; The Pokémon Company.</p>
                    <p>Avatar art by <a href="https://www.furaffinity.net/user/ohmuu/" target="_blank">Ohmuu</a>{% if index %} / Icon art by <a href="https://instagram.com/killurot" target="_blank">Killurot</a>{% endif %}</p>
                </div>
                <div class="w5 right wrapper-horizontal">
                    <a href="mailto:purr@meowso.me" target="_blank"><i class="fas fa-envelope"></i></a>&nbsp;&nbsp;
                    <a href="https://github.com/meowsome" target="_blank"><i class="fab fa-github"></i></a>&nbsp;&nbsp;
                    <a href="https://twitter.com/meowsom3" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="/assets/script.js"></script>
    <script src="https://instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</body>

</html>